* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow;

}

.slide-wrapper .slide-item {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.slide-wrapper .slide-item::before {
    position: absolute;
    content: "";
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1695753648663-72cc4dd99449?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    filter: grayscale(20%);
}

.slide-wrapper .slide-item:nth-child(2):before{
    background: url('https://images.unsplash.com/photo-1705096953495-8ea06879b986?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: cover;
    background-position: center;   
}

.slide-wrapper .slide-item:nth-child(3):before{
    background: url('https://images.unsplash.com/photo-1700853006150-05595d465c6d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: cover;
    background-position: center;   
}

.slide-wrapper .slide-item:nth-child(4):before{
    background: url('https://images.unsplash.com/photo-1695830110251-b9d9cac2ce9d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');  
    background-size: cover;
    background-position: center;  
}

.slide-wrapper .slide-item:nth-child(5):before{
    background: url('https://images.unsplash.com/photo-1695748966450-3abe5c25b481?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');  
    background-size: cover;
    background-position: center;  
}


.slide-wrapper .slide-item .slide-content {
    opacity: 0;
    color: #fff;
    z-index: 20;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1400px;
    position: relative;
}

.slide-item.swiper-slide-active .slide-content {
    animation: animate_opacity 0.8s 0.6s linear forwards;
}

@keyframes animate_opacity {
    100% {
        opacity: 1;
    }
}

.slide-wrapper .slide-item .slide-content > * {
    max-width: 35%;
}

.slide-item .slide-content .slide-subtitle {
    font-size: 1rem;
    font-weight: normal;
    opacity: 0;
    transform: translateY(60%);
}

.slide-item .slide-content .slide-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(60%);
}

.slide-item.swiper-slide-active .slide-content :where(.slide-subtitle, .slide-title) {
    animation: animate_text 0.6s 0.6s linear forwards;
}

@keyframes animate_text {
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
    
.slide-item .slide-content .slide-description {
    margin-top: 25px;
    line-height: 25px;
    opacity: 0;
    transform: translateY(60%);
}

.slide-item.swiper-slide-active .slide-content .slide-description {
    animation: animate_text 0.6s 1s linear forwards;
}

.slide-item .slide-content .slide-button {
    color: #fff;
    display: block;
    margin-top: 45px;
    text-decoration: none;
    border: 2px solid #fff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    width: 0px;
    padding: 13px 0;
    letter-spacing: 1px;
    text-align: center;
    transition: 0.5 ease;
    white-space: nowrap;
}

.slide-item .slide-content .slide-button span {
    opacity: 0;
}

.slide-item.swiper-slide-active .slide-content .slide-button span {
    animation: animate_opacity 0.6s 1.5s linear forwards;
}

.slide-item.swiper-slide-active .slide-content .slide-button {
    animation: animate_button 0.6s 1.3s linear forwards;
}

@keyframes animate_button {
    100% {
        opacity: 1;
        width: 250px;
    }
}
 

.slide-item .slide-content .slide-button:hover {
    color: #000;
    background: #fff;
}

.slide-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.slide-container .slide-controls {
    position: absolute;
    bottom: 45px;
    z-index: 20;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.slide-controls .slide-pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0 20px 30px;
    max-width: 1400px;
}

.slide-pagination{
    color: #fff;
    font-size: 0.85rem;
    text-align: center;
    cursor: pointer;
    padding: 0 20px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.318);
}

.slide-pagination .slide-indicator {
    position: absolute;
    bottom: -1.5px;
    border-bottom: 2.5px solid #fff;
    transition: 0.4s ease-in-out;
}


.slide-navigation button {
    position: absolute;
    top: 50%;
    z-index: 20;
    height: 40px;
    cursor: pointer;
    border: none;
    transform: translateY(-50%);
    background: #202022;
    color: #fff;
    transition: 0.4s ease;
}

.slide-navigation button.swiper-button-disabled {
    display: none;
}

.slide-navigation button#slide-prev {
    left: 20px;
}

.slide-navigation button#slide-next {
    right: 20px;
}

.slide-navigation button:hover {
    background: #323235;

}


@media (max-width: 1536px){
    .slide-wrapper .slide-item  .slide-content, 
    .slide-controls .slide-pagination {
        width: 85%;
    };
}

@media (max-width: 1024px) {
    .slide-wrapper .slide-item  .slide-content, 
    .slide-controls .slide-pagination {
        width: 100%;
    };
    .slide-wrapper .slide-item  .slide-content > * {
        max-width: 66%;
    };
    .slider-navigation button {
        top: unset;
        bottom: -15px;
        background: none;
    };
    .slider-navigation button:hover {
        background: none;
    };
}


@media (max-width: 768px) {
    .slide-wrapper .slide-item  .slide-content > * {
        max-width: 100%;
    };
}